:root{
  --primaryColor:#F0EFF4 ;
  --secondaryColor: #832161;
  --accentColor: #DA4167;
  --buttonColor: #FFB703;
  --textColor: #000000;
  --tertiaryColor: #3D2645;
}

.searchDiv{
  overflow: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchResults {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 600px; /* Set an appropriate max height */
  overflow-x: hidden; /* Add vertical scrollbar when needed */
  border: 2px solid gray;
}
.liDiv {
  width: 600px;
  background-color: aliceblue;

  margin: 25px;
  border: 1px solid rgb(220, 228, 236);
  transition: transform 0.3s ease;
  }
  
  .liDiv:hover {
    animation: hoverAnimation 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hoverAnimation {
    0% {
      transform: translateY(0) scale(1);
    }
    5% {
        transform: translateY(-1px) scale(1.1);
      }
    10% {
        transform: translateY(-2px) scale(1.1);
      }
    15% {
      transform: translateY(-3px) scale(1.1);
    }
    20% {
        transform: translateY(-4px) scale(1.1);
      }
    25% {
        transform: translateY(-5px) scale(1.1);
      }
    30% {
      transform: translateY(-6px) scale(1.1);
    }
    100% {
      transform: translateY(-20px) scale(1.1);
    }
  }

.inputSearch{
  width: 300px;
  background-color: rgb(244, 161, 192);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
.searchBtn{
  color: var(--primaryColor);
  margin-top: 12px;
  padding: 5px;
  background-color: var(--secondaryColor);
}
.searchBtn:hover{
  color: var(--primaryColor);
  background-color: var(--accentColor);
}





  

  
  
  